<h1 class="my-3 text-center">Editing Idea</h1>

<%= render 'form', idea: @idea %>

<div class="d-flex justify-content-center">
<%= link_to 'Show', @idea, class:"btn btn-secondary mr-3" %>
<%= link_to 'Back', ideas_path, class:"btn btn-primary" %>
</div>
