// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container a:hover {
  color: #f55e55;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}
.container input[type="submit"] {
  height: 40px;
  font-size: 14px;
  background-color: #00bf6f;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.border{
  border-width: 3px !important;
}
.btn{
  width: 75px;
}
h1 {
  color: #007FAA !important;
}
.iname {
  color: #05467E;
}
.field {
  width:100%;
}
.inputform {
  background-color: #ebebeb;
}
.label {
  width:70px;
}
